.Choosing{
    display: flex;
    flex-flow: row;
    margin: 1.5rem;
    box-shadow: 1px 1px #888888;}
.Choosing .title{
    width: 25%;
    font-size: 1.7rem;
    color: rgb(9, 9, 9);
}
.Choosing .text h3{
    color: rgb(43, 41, 41);
    font-size: 1.3rem;
}
